[submodule "Rose/vendor/spdlog"]
	path = Rose/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rose/vendor/GLFW"]
	path = Rose/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Rose/vendor/glm"]
	path = Rose/vendor/glm
	url = https://github.com/g-truc/glm.git
